$icon-font-path: '../fonts/';
$font-family_1: 'Orbitron', courier, serif;


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer,
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#header-img {
//  background-image: url("https://pbs.twimg.com/profile_images/448030989864796163/peSGpeef_400x400.png");
  background-image: url("https://pbs.twimg.com/profile_images/2349866958/m9pjwl1x1n3nvzf8x8rc_400x400.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}
.header {
  height: 50px;
  background-color: #6441a4;
}

#header-text {
  text-align: left;
  font-family: $font-family_1;
  text-shadow: 2px 2px 2px white;
  font-size: 35px;
}

.image-channel {
  width: 80px;
  height: 45px;
}

.table tbody > tr > td.vert-align {
  vertical-align: middle;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .footer,
  .header,
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
